body{
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    background-image: url(../Image/berserk-10-times-the-manga-went-too-far.avif);
    background-size: cover;
}
@media (max-width: 768px) {
    .infoPersonal {
        display: none !important;
    }
    body{
        flex-wrap: wrap !important;
        flex-direction: column !important;
        width: 100%;
        height: fit-content;
        background-size:100%;
    }
    .pageDetail {
        font-size: 1.5rem !important; /* Tăng kích thước font lên 1.5rem */
        line-height: 1.8 !important; /* Thêm khoảng cách dòng để dễ đọc */
        padding: 20px !important; /* Thêm khoảng cách bên trong */
        width: 100% !important;
        margin: 0 auto !important;
    }
    .myCV{
        margin:0 100px 0 0 !important;
        width: 100% !important;
        height: auto;
        box-shadow: none;
    }
    .menu{
        width: 100% !important;
        margin-right: 100px !important;
        height: fit-content !important;
        flex-direction: row !important;
    }
    #imageOfPokemon{
        width: 300px !important;
        height:fit-content !important;  
    }
    .mobileProfile{
        display: flex !important;
        background-color: whitesmoke;
        height: fit-content !important;
        flex-direction: row !important;
        width: 100% !important;
        font-size: 15px !important;
        margin-right: 100px;

    }
    .titleMobile{
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        width: 200px;
    }
    .mobileProfile h2{
        font-size: 17px;
    }
    .iconListMobile{
        width:fit-content;
        height: fit-content;
        display: flex;
        flex-direction: row;
    }
    .avatar{
        width: 100px !important;
        height: 100px !important;
    }
    .contactAndBuild{
        display: flex !important;
        flex-direction: column !important;
        width: fit-content;
    }
    .infoFooterMobile{
        height: fit-content;
        width: fit-content;
    }
}
.myCV{
    background-color:burlywood;
    width: fit-content;
    height: 95%;
    border: 2px solid black;
    border-radius: 18px;
    overflow: hidden;
    margin-left: 200px;
}
.row{
    height: 100%;
}
.infoPersonal{
    display: flex;
    background-color: whitesmoke;
    height: 100%;
    padding-top: 50px;
    flex-direction: column;
    align-items:center;
    text-align: center;
    width: 30%;
}
.pageDetail{
    background-color: black;
    height: 100%;
    width: 70%;
    overflow-y: scroll;
    max-height: 100%;
    scrollbar-width: thin;
    color: white;
    padding: 30px;
    font-size: 1rem;
}
ul>li{
    margin:15px 0px ;
    font-size: 16px;
}
svg{
    fill: red;
}
.pageDetail h1,h3,b{
    color:red;
}
.defaultHeight{
    height: fit-content;
}
.avatar{
    border-radius: 100%;
    border-radius: 10px solid white;
    width: 250px;
    height: 250px;
}
.iconList{
    height: 30px;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
i{
    font-size: 30px;
    color: black;
}
.infoFooter{
    position: relative;
    top:200px;
    height: max-content;
    display: flex;
    justify-content: end;
}
.menu{
    display: flex;
    width: 100px;
    height: 500px;
    background-color: gray;
    border: 1px solid black;
    border-radius:18px ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 75px;
}
.iconMenu{
    margin-top: 20px;
    margin-bottom: 20px;
}
.iconMenu>svg:hover{
    fill:darkred
}
.iconMenuList{
    height: 100%;
}
.codingSkillsLogo{
    display: flex;
    flex-wrap: wrap;
}
.codingSkillsLogo>svg{
    margin-left: 10px;
    margin-bottom: 10px;
}
.otherSkill{
    display: flex;
    flex-wrap: wrap;
}
.otherSkill>p{
    color: white;
    background-color: red;
    width: fit-content;
    margin-left: 1px;
    padding: 3px;
}
#imageOfPokemon{
    width: fit-content;
    height: fit-content;
}
.mobileProfile{
    display: none;
}
#pokemonOutput{
    display: flex;
    flex-direction: row;
}
.suggestion{
    width: 100%;
    border-radius: 18px;
}
.suggestion-item {
    cursor: pointer;
    background-color: white;
    color: black;
    width: 100%;
}

.suggestion-item:hover {
    background-color: #e0e0e0;
}